<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Search"></Label>
</ActionBar>

<StackLayout class="page__content">
        <Label style="font-size: 20; horizontal-align: center;" [text]="this.message"></Label>
        <Button class="btn" text="Noticias" (tap)="onNavItemTap('/featured/funcionalidad/noticia')"></Button>
        <Button class="btn" text="Clima" (tap)="onNavItemTap('/featured/funcionalidad/clima')"></Button>
</StackLayout>