// Import common styles
@import "app-common";

// Place any CSS rules you want to apply only on Android here

.btn {
    android-elevation: 4;
    background-color: lightseagreen;
    border-color: darkolivegreen;
}